# Arquivos de build
bin/
obj/
[Bb]uild/
[Bb]uilds/

# Configuração para rastrear arquivos XAML do MAUI
!**/obj/**/*.xaml

# Arquivos de logs e temporários
*.log
*.nlog
*.xml
*.tlog
*.ide.*

# Arquivos Rider e VS Code
.idea/
.vscode/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db
*.~lock.*

# NuGet Packages (permitindo configuração e cache local)
.nuget/
packages/
!.nuget/packages/
!packages.config
!global.json

# Configurações específicas de usuário
.vs/
*.sln.docstates

# Arquivos MAUI e relacionados ao Xamarin
*.dSYM
*.apk
*.apks
*.app
*.ipa
*.aab
*.xcworkspace/
*.xcuserdata/
*.gradle/
*.crash
*.manifest
*.tlog
*.dsym
**/platforms/
**/Resources/Raw/*
!**/Resources/Raw/**/*.*
*.dll
*.exe

# Arquivos gerados por compiladores
*.tmp
*.pdb
*.log.json

# Arquivos gerados pelo Visual Studio
*.vsix
.vs/

# Arquivos de depuração do MAUI
*.csproj.user
*.pidb

# Arquivos de publicação
publish/
AppPackages/
TestResults/

# Configurações específicas de máquina para projetos .NET
.env
.env.*
!appsettings.Development.json
!appsettings.Production.json
